*{
    padding: 0;
    margin: 0;
}
 
body {
    overflow-x: hidden;
}

.BKR-wrapper {
    background: black;
    width: 100%;
    
    
}

.BKR-container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 100vh;
    
}


ul {
    display: flex;
    
}

ul li {
    color: white;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
}

.nav-wrapper {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.contact-wrapper{
    color: white;
    border: 1px solid grey;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}




header {
    display: flex;
    justify-content: space-between;
}

.contact-container {
    margin-top: 20px;
}
 nav{
    margin-top: 35px;
 }

 .mobile-burger {
    display: none;
    cursor: pointer;
    background-color: orange;
    padding: 15px;
    border-radius: 50%;
  }
  .burger-item {
    width: 48px;
    height: 3px;
    background-color: black;
    margin-bottom: 10px;
  }


 
 .shapetop {
    left:  600px;
    position: absolute;
    top: 3px;
    
 }

 .date {
    color: white;
    font-size: 20px;
    margin-top: 270px;
 }
 
 .freshbakery{
    font-size: 72px;
    color: white;
    max-width: 446px;
    margin-top: 35px;
    font-family: 'ultra';
    
 }

  @font-face {
    font-family:'ultra';
    src: url(./font/Ultra-Regular.ttf);
  }

 .blindtexts {
    color: white;
    font-size: 20px;
    max-width:400px;
    margin-top: 35px;
 }

 .bakery-box {
    display: flex;
    gap: 200px;
 }

.bekry-images {
  bottom: 200px;
  max-width: 1200px;
  position: relative;
}



.Shape {
   position: absolute;
    top: 418px;
    width: 341px;
    
}

.shape-orange {
    position: absolute;
    top: 350px;
    left: 170px

}

.combinedshape {
    width: 160px;
    top: 500px;
    position: absolute;
    
    
}

.bitmap{
    position: absolute;
    width: 343px;
    top: 300px;
}

.oval {
    position: absolute;
    top: 460px;
    left: 40px;
}

.bakeryman{
    width: 480px;
    position: absolute;
    top: 400px;
}

.shape-down {
    position: absolute;
    bottom: -50px;
    right:  500px;
    
    
}

.shape-right {
  position: absolute;
  bottom:-100px;
  left: 530px;
}

.down {
  position: absolute;
  bottom: 20px;
  right: 620px;
}


@media (max-width:1024px) {
    
    .bkr-list {
        display: none;
    }
    .contact-container{
        display: none;
    }

    .BKR-container {
        width: 100%
    }
    .mobile-burger {
        display: block;
        cursor: pointer;
        background-color: orange;
        padding: 15px;
        border-radius: 50%;
      }

      .nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
      }
      .bkr {
        width: 100px;
      }
      .shapetop {
        display: none;
      }
      .freshbakery {
        font-size: 56px;
      }
      .blindtexts {
        width: 250px;
      }

      .bakery-box {
        display: flex;
        flex-direction: column-reverse;
      }

      .bakeryman {
        width: 100%;
        left: 60px;
        
      }

      .bekry-images {
      width: 30%;
      bottom: 450px;
      
      }
      .Shape {
        width: 100%
      }
      .bitmap {
        width: 100%
      }

      .oval {
        width: 100%
      }

      .bakery-info {
        width: 80%
      }

      .shape-orange {
        width: 80%
        
      }
      .combinedshape{
        width: 45%
      }
      .shape-right {
        display: none;
      }
      .shape-down {
        display: none;
      }
}

.baking-wrapper {
  width: 100%;
  background: rgb(238, 205, 143);
  height: 100vh;
  position: relative;
}











































