*{
    padding: 0;
    margin: 0;
}
 
body {
    overflow-x: hidden;
}

.BKR-wrapper {
    background: black;
    width: 100%;
    
    
}

.BKR-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    
}


ul {
    display: flex;
    
}

ul li {
    color: white;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
}

.nav-wrapper {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.contact-wrapper{
    color: white;
    border: 1px solid grey;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}




header {
    display: flex;
    justify-content: space-between;
}

.contact-container {
    margin-top: 20px;
}
 nav{
    margin-top: 35px;
 }

 .mobile-burger {
    display: none;
    cursor: pointer;
    background-color: orange;
    padding: 15px;
    border-radius: 50%;
  }
  .burger-item {
    width: 48px;
    height: 3px;
    background-color: black;
    margin-bottom: 10px;
  }


 
 .shapetop {
    margin-left: 660px;
    position: absolute;
    margin-top: -100px;
    
 }

 .date {
    color: white;
    font-size: 20px;
    margin-top: 270px;
 }
 
 .freshbakery{
    font-size: 72px;
    color: white;
    width: 446px;
    margin-top: 35px;
    font-family: 'ultra';
    
 }

  @font-face {
    font-family:'ultra';
    src: url(./font/Ultra-Regular.ttf);
  }

 .blindtexts {
    color: white;
    font-size: 20px;
    width:400px;
    margin-top: 35px;
 }

 .bakery-box {
    display: flex;
    gap: 200px;
    
    
 }


.Shape {
    width: 341px;
    margin-top: 270px;
}

.shape-orange {
    width: 271px;
    position: absolute;
    margin-top: -400px;
    margin-left: 150px;
}

.combinedshape {
    width: 154px;
    margin-top: -285px;
    position: absolute;
    margin-left: -35px;
}

.bitmap{
    position: absolute;
    width: 343px;
    margin-top: -470px;
    margin-left: -35px;
}

.oval {
    position: absolute;
    margin-top: -300px;
    margin-left: 90px;
}

.bakeryman{
    width: 480px;
    position: absolute;
    margin-top: -330px;
    margin-left: 100px;
}

.shape-down {
    position: absolute;
    
    
}

.shape-right {
  position: absolute;
  
  
}



@media (max-width:1024px) {
    
    .bkr-list {
        display: none;
    }
    .contact-container{
        display: none;
    }
    .BKR-wrapper{
      width: 100%;
    }

    .BKR-container {
        width: 80%
    }
    .mobile-burger {
        display: block;
        cursor: pointer;
        background-color: orange;
        padding: 15px;
        border-radius: 50%;
      }

      .nav-wrapper {
        display: flex;
        justify-content: space-betweensss;
        margin: 0 auto;
        gap: 150px;
        margin: 50px;
        align-items: baseline;
      }
      .bkr {
        width: 150px;
      }
      .shapetop {
        display: none;
      }
      .freshbakery {
        font-size: 56px;
      }
      .blindtexts {
        width: 250px;
      }

      .bakery-box {
        display: flex;
        flex-direction: column-reverse;
        
      }

      .bekry-images {
        margin-top: -200px;
        margin-left: 70px;
        max-width: 329px;
       
        
        
      }
      .bakery-info {
        margin-top: -400px;
        
      }

      .shape-right {
        display: none;
      }
      .shape-down {
        display: none;
      }
}

.baking-wrapper {
  width: 100%;
  background: rgb(238, 205, 143);
  height: 100vh;
  position: relative;
}











































