*{
    padding: 0;
    margin: 0;
}
 
body {
    overflow-x: hidden;
}

.BKR-wrapper {
    background: rgb(27, 26, 26);
    width: 100%;
    
    
}

.BKR-container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 100vh;
    
}


ul {
    display: flex;
    
}

ul li {
    color: white;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
}

.nav-wrapper {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.contact-wrapper{
    color: white;
    border: 1px solid grey;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}




header {
    display: flex;
    justify-content: space-between;
}

.contact-container {
    margin-top: 20px;
}
 nav{
    margin-top: 35px;
 }

 .mobile-burger {
   display: none;
   flex-direction: column;
   background: orange;
   border-radius: 50%;
   padding: 15px;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   
  }
  .mobile-burger span {
    height: 2px;
    width: 50px;
    background-color:black;
    margin-bottom: 10px;
  }

  .mobile-burger span:last-child {
    margin-bottom: 0;
  }

  .hide {
    left: -200%;
    opacity: 0;
  }

  .show {
    left: 0;
    opacity: 1;
    
  }

  .mobile-navigation {
    position: absolute;
    background-color: black;
    width: 100%;
    top: 80px;
    height: 84.5%;
    z-index: 1;
    transition: left 0.3s linear;
  }
.mobile-navigation ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mobile-navigation ul li {
  font-size: 50px;
}

 .shapetop {
    left:  600px;
    position: absolute;
    top: 3px;

 }

 .date {
    color: white;
    font-size: 20px;
    margin-top: 270px;
    max-width: 1200px;
 }
 
 .freshbakery{
    font-size: 72px;
    color: white;
    max-width: 446px;
    margin-top: 35px;
    font-family: 'ultra';
    
 }

  @font-face {
    font-family:'ultra';
    src: url(./font/Ultra-Regular.ttf);
  }

 .blindtexts {
    color: white;
    font-size: 20px;
    max-width:400px;
    margin-top: 35px;
 }

 .bakery-box {
    display: flex;
    gap: 150px;
    
 }

.bekry-images {
  bottom: 200px;
  max-width: 1200px;
  position: relative;
}

.mobile-navigation {
  width: 100%;
  top: 45px;
  height: 90%;
}


.Shape {
   position: absolute;
    top: 418px;
    width: 341px;
    
}

.shape-orange {
    position: absolute;
    top: 350px;
    left: 170px

}

.combinedshape {
    width: 160px;
    top: 500px;
    position: absolute;
    
    
}

.bitmap{
    position: absolute;
    width: 343px;
    top: 300px;
}

.oval {
    position: absolute;
    top: 460px;
    left: 40px;
}

.bakeryman{
    width: 480px;
    position: absolute;
    top: 400px;
}

.shape-down {
    position: absolute;
    bottom: -50px;
    right:  500px;
    
    
}



.down {
  position: absolute;
  bottom: 20px;
  right: 620px;
}
.shapedown-box{
  max-width: 1200px;
}





.baking-wrapper{
  width: 100%;
  background: rgb(245, 211, 142);
  height: 100vh;
  position: absolute;
}

.baking-container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  
}

.baking-box{
  display: flex;
  gap: 150px;
}


  
.baking-img{
  position: relative;
  max-width: 1200px;
  left: 25px;
}

.shape3{
margin-top: 200px;

}

.bitmap-black{
  position: absolute;
  right: 120px;
  top: 100px;
  max-width: 400px;
}

.CombinedShape-black {
  position: absolute;
  top: 200px;
  left: 370px;
  max-width: 200px;
}
.bakeryspecial{
  position: absolute;
 top: 450px;
 left: 90px;
  
}

.special-moments{
  font-family: 'ultra';
  font-size: 56px;
}



.baking-about{
  margin-top: 180px;
  
}

.about-us {
  font-size: 20px;
}
 

.num01{
  font-size: 20px;
  margin-top: 20px;
}

.viewback{
  font-size: 20px;
  margin-top: 20px;
}

.sevenversalia{
  font-size: 20px;
  width: 400px;
  line-height: 32px;
  margin-top: 20px;
  
}

.skyline {
font-size: 20px;
margin-top: 50px;
}


.Pityful{
  font-size: 20px;
  margin-top: 30px;
}

.arrows {
  display: none;
}

.onherway {
margin-top: 30px;
font-size: 20px;

}

.title-baking{
  text-align: center;
}

.features {
  padding: 50px;
  font-size: 20px;
}

.bakinglove{
font-size: 56px;
font-family: 'ultra';
}



.bakingwithlove{
  width: 100%;
  background: rgb(245, 211, 142);
  height: 100vh;
}

.making-fresh{
  display: flex;
  position: relative;
  top: 100px;
  
}

.fresh{
  background: white;
  height: 40vh;
  margin-top: 25px;
  width: 350px;
  
}

.fresh p {
  font-family: 'ultra';
  font-size: 40px;
  margin-top: 70px;
  margin-left: 50px;
}
.cofe{
  margin-left: 50px;
  margin-top: 50px;
}

.natural{
  background: white;
  height: 40vh;
  margin-top: 25px;
  
}

.tasty {
  background: rgba(4, 82, 10, 0.623);
  height: 45vh;
}

.cake{
  margin-top: 50px;
  margin-left: 50px;
}

.natural h5 {
  font-size: 40px;
  font-family: 'ultra';
  margin-top: 60px;
}

.natural p{
  max-width: 306px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}


.tasty h4{
  font-size: 40px;
  font-family: 'ultra';
  margin-top: 230px;
  margin-left: 40px;

}

.tasty p {
  max-width: 306px;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 30px;
}


.bitmap-orange{
  position: absolute;
  right: 190px;
  
}
.bread {
  position: absolute;
  top: 100px;

}


@media (max-width:1024px) {
    
  .bkr-list {
      display: none;
  }
  .contact-container{
      display: none;
  }

  .BKR-container {
      width: 100%;
      height: 90vh;
      
      
  }
  .mobile-burger{
    display: flex;
    
  }

    .nav-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .bkr {
      width: 100px;
    }
    .shapetop {
      display: none;
    }
    .freshbakery {
      font-size: 56px;
    }
    .blindtexts {
      width: 250px;
    }

    .bakery-box {
      display: flex;
      flex-direction: column-reverse;
      
    }

    .bakeryman {
      width: 90%;
      left: 150px;
      top: 450px;
      
    }

    .bekry-images {
    width: 50%;
    bottom: 340px;
    left: 10px
    
    }
    .Shape {
      top: 350px;
      width: 90%;
      left: 80px
    }
    .bitmap {
      top: 300px;
      width: 90%;
      left: 50px;
    }

    .oval { 
      left: 120px;
      width: 90%;
      top: 450px;
    }



    .shape-orange {
      width: 80%;
      top: 350px;
      left: 150px;
      
      
    }
    .combinedshape{
     width: 60%;
     top: 400px;
     left: 50px;
    }

    .shape-down {
      display: none;
    }
    .down{
      width: 10%;
      bottom: 5px;
      left: 250px;
    }

    .bakery-info{
      
    }


    .freshbakery{
      position: absolute;
      font-size: 25px;
      left: 150px;
      bottom: 150px;
      width: 38%;
    }

    .date{
      font-size: 20px;
      position: absolute;
      left: 150px;
      bottom: 240px;
    }

    .blindtexts{
      font-size: 20px;
      position: absolute;
      bottom: 70px;
      left: 150px;
    }

    .baking-box{
      display: flex;
      flex-direction: column;
      
      
    }


    .baking-container{
      width: 100%;
      
      
    }
    .baking-img{
      
      width: 90%
    }
    .shape3{
      width: 80%
    }

    .bitmap-black{
      width: 50%;
      left: 30px;
      top: 180px;
    }
      .CombinedShape-black{
        width: 20%;
        left: 300px;

        
      }
      .bakeryspecial{
        width: 65%;
        top: 500px;
        
      }

      .baking-about{
        
        top: 600px;
        left: 70px;
        
      }

      .about-us{
        font-size: 30px;
      }

    .special-moments{
      font-size: 50px
    }
      .num01{
        font-size: 25px;
      }
      .viewback{
        font-size: 24px;
      }

      .sevenversalia{
        width: 48%;
      }
      .title-baking{
        position: relative;
        top: 360px
      }
      .making-fresh{
        top: 150px;
        position: absolute;
        width: 90%;
        left: 30px;
        
        
      }
      .tasty{
        position: absolute;
        top: 500px;
        width: 100%;
      }
      .tasty h4{
        font-size: 40px;
        
      }
      .bitmap-orange{
        width: 20%;
        right: 5px;
        
      }

      .bread{
        left: 50px;

      }









    .fresh{
      display: none;
    }
    .natural{
      display: none;
    }



}

@media (max-width:768px) {
 
}